# Hash sets

In [5]:
# new set
s = set()
s

set()

In [7]:
# add items to set -O(1)
for i in range(1,20,3):
    s.add(i)
print(s)

{1, 4, 7, 10, 13, 16, 19}

In [11]:
# Lookup if item in set - O(1)
if 4 in s:
    print(True)

if 5 not in s:
    print(False)

True
False

In [12]:
# Remove item from a set - O(1)
s.remove(10)
s

{1, 4, 7, 13, 16, 19}

In [14]:
# Set construction O(s)--> 's' is the length of the string
str = 'bananaballoons'
sett = set(str) # set get the unique characters from a string bcoz it dont allow duplicates
sett

{'a', 'b', 'l', 'n', 'o', 's'}

In [15]:
# loop over the items in the set - O(n)
for a in s:
    print(a)

1
4
7
13
16
19